{% extends "base.html" %}
{% block head %}
    <head>
        <title>Home</title>
    </head>
{% endblock %}
{% block body %}
    <body>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
            <div id="posts">
                {% for book in books %}
                    <h1>{{book.name}}</h1>
                    <p>{{book.author}}</p>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock %}