{% extends "base.html" %}
{% block head %}
    <head>
        {% load static %}
        <title>Home</title>
        <link href="{% static "css/materialize.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
{% endblock %}
{% block body %}
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a id="feedButton" class="brand-logo center"><img style="width: 20%; margin-top: 2%;" src="{% static 'img/CODE.png' %}" alt=""></a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <!--<li><a class="waves-effect btn-flat" id="addBook">Add Book</a></li>-->
                        <li><a class="waves-effect btn-flat" id="myAccount"><i class="large material-icons">account_circle</i></a></li>
                    </ul>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                    <li><a class="waves-effect btn-flat" id="myAccountM">My Account<i class="large material-icons">account_circle</i></a></li>
            </ul>
        </header>
        <main>
            <div class="container" id="logoutContainer"></div>
            <div class="container" id="newBookContainer"></div>
            <div class="container z-depth-1" id="searchBarContainer"></div>
            <div class="container" id="bookContainer"></div>
        </main>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">About us</h5>
                        <p class="grey-text text-lighten-4">Bookrent is a student project that tries to give people the books they want, for affordable prices.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Feed</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">My Profile</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Text
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="{% static "js/jquery.js"%}"></script>
        <script type="text/javascript" src="{% static "js/materialize.js"%}"></script>
        <script type="module" src="{% static "js/home.js"%}"></script>
        <script>
            function getCookie(name) {
                var value = "; " + document.cookie;
                var parts = value.split("; " + name + "=");
                if (parts.length == 2) return parts.pop().split(";").shift();
            }
            
            token = getCookie("csrftoken")
            if (token == undefined) {
                window.location = "http://localhost:8000/login";
            }
            var user = {};
            var login = false;
            var loadBooksBool = true;
            var rentedBooks = [];
        </script>
    </body>
{% endblock %}