<div class="row">
    <div class="input-field col s6">
        <input type ="text" id="username">
        <label for="username">Username</label>
    </div>
    <div class="input-field col s6">
        <select class="browser-default">
            <option value="" disabled selected>Choose your sex</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Other</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input type ="text" id="street">
        <label for="isbn">Street</label>
    </div>
    <div class="input-field col s6">
        <input type ="number" id="streetNumber">
        <label for="cover">Street number</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input type ="text" id="postCode">
        <label for="isbn">Postal Code</label>
    </div>
    <div class="input-field col s6">
        <input type ="text" id="city">
        <label for="cover">City</label>
    </div>
</div>
<div class="input-field col s6">
    <input type ="text" id="telephone">
    <label for="title">Telephone</label>
</div>
<div class="input-field col s6">
    <select class="browser-default">
        <option value="" disabled selected>Choose your country</option>
        <option value="80">Germany</option>
        <option value="79">Georgia</option>
    </select>
</div>